<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>emp.html</title>
  </head>
  <body>
    <div id="app">
      사번 : <input v-model="emp.employee_id" /><br />
      fname : <input v-model="emp.first_name" /><br />
      lname : <input v-model="emp.last_name" /><br />
      job id :
      <input type="radio" v-model="emp.job_id" value="it" />IT
      <input type="radio" v-model="emp.job_id" value="sales" />SALES<br />
      부서:
      <select v-model="emp.department_id">
        <option disabled value="">다음 중 하나를 선택하세요</option>
        <option v-for="dept in depts" :value="dept.dno">{{dept.dname}}</option>
      </select>
      <br />
      <button @click="empUpdate()">수정</button>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      const { createApp } = Vue;

      createApp({
        data() {
          return {
            totalPage: 5,
            depts: [
              {
                dno: 10,
                dname: "개발",
              },
              {
                dno: 20,
                dname: "인사",
              },
              {
                dno: 30,
                dname: "안사",
              },
            ],
            emp: {
              employee_id: "100",
              department_id: "20",
              first_name: "steven",
              last_name: "king",
              email: "",
              phone_number: "",
              hire_date: "",
              job_id: "",
              salary: "",
              commission_pct: "",
              manager_id: "",
            },
          };
        },
        methods: {
          empUpdate() {
            alert("수정");
            console.log(this.emp);
            //이 값으로 fatch()보내면된다.
          },
        },
      }).mount("#app");
    </script>
  </body>
</html>
